main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 20vh;
  grid-template-areas: "feed" "list";
  gap: 20px;
  overflow: hidden;
}

main img {
  justify-self: center;
  width: 100%;
  grid-area: feed;
}

@media (min-aspect-ratio: 1/1) {
  main img  {
    width: auto;
    height: 100%;
  }
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  grid-area: list;

  overflow-x: scroll;
  overflow-y: hidden;

  background: var(--bg2);
}

main ul li a:hover {
  border: none;
  background: none;
}

main ul li {
  width: 19vh;
  height: 19vh;
  margin-right: 10px;
}