extends incl/base.pug

block head 
  link(rel="stylesheet", href="style/index.css")
  script(src="js/index.js", defer) 

block content 
  img(src=config.streamURL)
  ul
    each vid in videos 
      li
        a(href=`/video/${vid.id}`)
          img(src=`/thumb/${vid.id}`)